# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv10/
env/
halal/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs and editors
.vscode/
*.swp
*.swo
*.bak
*.tmp

# OS files
.DS_Store
Thumbs.db

